.search-input {
  width: 100%;
  line-height: 2.5rem;
  padding: 0 10px;
  font-size: 2rem;
  max-width: 600px;
  margin: 16px auto;
  display: block;
  text-align: center;

  &:focus {
    outline: 1px solid var(--dark-green);
  }
}
